
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Tahoma;
}
body
{
    background-color:#1B1535;
    color: white;
}

header
{
    background-color: blue;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 2%;
    font-size: 14pt;
    font-weight: bolder;
    top: 0;
}

.title
{
    color: lawngreen;
    font-size: 15pt;
    border-bottom: 10px;
}

.input-search
{
    width: 30%;
    border: none;
    border-radius: 0 0 0 20px;
    padding: 2px;
}

.input-submit
{
    margin-left: -5px;
    border: none;
    border-radius: 0 20px 0 0;
    padding: 2px;
    background-color: lawngreen;
    width: 5%;
    font-weight: bold;
}

nav
{
    margin-top: 15px;
}

nav ul
{
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav ul li a
{
    color: lawngreen;
}

nav ul li a:hover
{
    border-bottom: 3px solid  white ;
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}


.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: darkblue
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: darkblue;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #06D85F;
}

.content 
{
    max-height: 30%;
    width: 50%;
}

.title-p
{
    margin-left: 60px;
    margin-top: 5%;
}

.populer
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.populer img
{
    border-radius: 10px;
}

.harga
{
    color: lawngreen;
}

.link a
{
    color: white;
}

.link a:hover
{
    color: lawngreen;
}

.pesan img
{
    width: 30px;
}

.pesan
{
    background-color: lawngreen;
    padding: 5%;
    border-radius: 10px;
}

.pesan:hover
{
    background-color: white;
    padding: 5%;
    border-radius: 10px;
}

.title-s
{
    margin-left: 60px;
    margin-top: 5%;
}

.streaming-apps
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: none;
}

.streaming-apps img
{
    border-radius: 10px;
}

.title-v
{
    margin-left: 60px;
    margin-top: 5%;
}

.voucher
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: none;
}

.voucher img
{
    border-radius: 10px;
}

.title-gm
{
    margin-left: 60px;
    margin-top: 5%;
}

.game-memberships
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: none;
}

.game-memberships img
{
    border-radius: 10px;
}

.tentang
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
}
 
.card
{
    background-color: blue;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px black;
}
 
.card h1
{
    text-align: center;
}
 
html
{
    scroll-behavior: smooth;
}
 
 
footer
{
    display: grid;
    justify-content: center;
    background-color: blue;
    margin-top: 10%;
    padding: 2%;
}
 
.sosmed img 
{
    width: 50px;
}
 
#copyright
{
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
.slider
{
    display: hidden;
}
.title
{
    font-size: 13pt;
}

nav ul li a
{
    font-size: 10pt;
}

.slider
{
    display: none;
}

.title-p
{
    padding-top: 2rem;
    margin-left: 20px;
}

.populer
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10pt;
}

.link img
{
    width: 80%;
}

.title-s
{
    padding-top: 2rem;
    margin-left: 20px;
}

.streaming-apps
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10pt;
}

.title-v
{
    padding-top: 2rem;
    margin-left: 20px;
}

.voucher
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10pt;
}

.title-v
{
    padding-top: 2rem;
    margin-left: 20px;
}

.voucher
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10pt;
}

.title-gm
{
    padding-top: 2rem;
    margin-left: 20px;
}

.game-memberships
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10pt;
}

.tentang
{
    width: 90%;
    padding-left: 2rem;
    font-size: 13pt;
}

.sosmed
{
    font-size: 10pt;
    padding-left: 6rem;
}

.sosmed img
{
    width: 10%;
}

.overlay
{
    width: 160%;
}






